<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('partials/sidebar') %>
   
    <div class="sm:ml-64 p-4">
        <h1 class="bg-cyan-700 text-white">Task List</h1>
        <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    Sr No.
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                   Task Name
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Date
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Status
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <% tasks.forEach((task, index) => { %>
                <tr class="bg-neutral-primary border-b border-default  <%= task.completed ? 'bg-green-200' : 'bg-yellow-200' %>">
                    <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                        <%= index + 1 %>
                    </th>
                    <td class="px-6 py-4">
                        <%= task.title %>
                    </td>
                    <td class="px-6 py-4">
                        <%= task.date.toDateString() %>
                    </td>
                    <td class="px-6 py-4">
                        <%= task.completed ? 'Completed' : 'Pending' %>
                    </td>
                    <td class="px-6 py-4">
                        <!-- Action buttons can go here -->
                        <a href="/task/<%= task._id %>"><button>Edit</button></a> 
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

</body>
</html>